# 1. BOOLEANS

In [1]:
# Boolean values can be represented as one of two constant objects "False" and "True". 
# Booleans behave like integers 0 and 1.
True

True

In [2]:
False

False

In [3]:
s1=1000
s2=2000

print(s2==s1)

False

**MINI CHALLENGE #1:** 
- **What will this code generate?**
```
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)
```

In [4]:
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)

True
False

# 2. LIST

In [5]:
# A list is a collection which is ordered and changeable. 
# List allows duplicate members.
lst=[1, 2, 3]

In [6]:
# Obtain the datatype
type(lst)

list

In [7]:
# list with mixed datatypes (for example you can have strings and integers in one list)
lst=[2, 'GOOG', 5]
lst

[2, 'GOOG', 5]

In [8]:
# You can have a list inside another list (nested list)
lst=['GOOG', [3, 6, 7]]
lst

['GOOG', [3, 6, 7]]

In [9]:
# Access specific elements in the list with Indexing
# Note that the first element in the list has an index of 0 (little confusing but you'll get used to it!)
lst=[1, 2, 3]
lst[0]

1

In [11]:
# indexing for nested lists
lst=['GOOG', [3, 6, 7]]
lst[1][2]

7

In [12]:
# Negative Indexing
lst=[2, 'GOOG', 5]
lst[-2]

'GOOG'

In [13]:
# List Slicing (getting more than one element from a list) 

# obtain elements starting from index 3 up to and not including element with index 6  
a=['GOOG', 'SP500', 'AMZN']
a[1:]

['SP500', 'AMZN']

In [14]:
# Obtain elements starting from index 3 to end
b=['GOOG', 'SP500', 'AMZN', 15]
b[3:]

[15]

In [15]:
# All elements start to end
b[:]

['GOOG', 'SP500', 'AMZN', 15]

In [16]:
# Obtain the length of the list (how many elements in the list) 
len(b)

4

**MINI CHALLENGE #2:**
- **Print the first, second and last element in the list below**
- **Print all elements in the list, first 3 elements, and last three elements**

```
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]
```

In [18]:
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]
print(stocks[0])
print(stocks[1])
print(stocks[-1])

GOOG
TSLA
EUR/USD

# 3. DICTIONARY

In [ ]:
# my_dict = {'key1':'value1', 'key2':'value2', 'key3':'value3'}
# Dictionary consists of a collection of key-value pairs. Each key-value pair maps the key to its corresponding value.
# Keys are unique within a dictionary while values may not be. 
# List elements are accessed by their position in the list, via indexing while Dictionary elements are accessed via keys

# Define a dictionary using key-value pairs

In [19]:
# View the dictionary
di={'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [21]:
# Check the data type
type(di)

dict

In [22]:
# Access specific element in the dictionary using a specific key (ex: Key2)
di['key2']

'value2'

In [24]:
# Define a dictionary for a bank client listing all his/her assets! 
bank={'Real estate': 150000, 'stocks': 10000, 'savings': 20000}

In [25]:
# Access elements in the dictionary
bank['stocks']

10000

In [26]:
# Add a new item to an existing dictionary
bank['Crypto']=1500

In [27]:
# remove an item from the dictionary
bank

{'Crypto': 1500, 'Real estate': 150000, 'savings': 20000, 'stocks': 10000}

In [29]:
# delete the entire dictionary
# Note that you cannot print it out again because the entire dictionary has been deleted
del bank['Crypto']

In [30]:
bank

{'Real estate': 150000, 'savings': 20000, 'stocks': 10000}

# 4. STRINGS

In [31]:
# A string in Python is a sequence of characters
# String can be enclosed by either double or single quotes
str='Hello Everyone and Welcome to Python for finance course!'

In [32]:
# Obtain the datatype
type(str)

str

In [34]:
# Combining two strings together (Let's combine the first and last name of a bank's client)
a='Sinjini'
b='Roy'
full=a+' '+b
full

'Sinjini Roy'

In [36]:
# Methods on strings 
# upper will be used to convert the string into upper case
z=str.split()
z

['Hello',
 'Everyone',
 'and',
 'Welcome',
 'to',
 'Python',
 'for',
 'finance',
 'course!']

In [37]:
# Split us used to divide up the string into words 
# The output from split is a list
z=str.split(' ')
z

['Hello',
 'Everyone',
 'and',
 'Welcome',
 'to',
 'Python',
 'for',
 'finance',
 'course!']

In [38]:
# Let's check that the datatype is list!
type(z)

list

# 5. TUPLES

In [ ]:
# A tuple is a sequence of immutable Python objects. 
# Tuples are sequences, just like lists. 
# The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

In [39]:
tup=('GOOG', 'APPL', 10, 15, 1992)

In [40]:
tup

('GOOG', 'APPL', 10, 15, 1992)

In [41]:
# Accessing elements in a tuple
tup[1]

'APPL'

In [43]:
# Tuple slicing
tup[1:3]

('APPL', 10)

In [44]:
# Create a New Tuple from existing Tuples
tup=('GOOG', 'APPL', 10, 15, 1992, 450, 55, 977, 2100)

In [45]:
tup

('GOOG', 'APPL', 10, 15, 1992, 450, 55, 977, 2100)

# 6. SETS

In [46]:
# A set is an unordered collection of items. Every element is unique (no duplicates).
# A set is created by placing all the items (elements) inside curly braces {}, separated by comma or by using the built-in function set().
# set of integers

sets={'GOOG', 'T', 'APPL'}
sets

{'APPL', 'GOOG', 'T'}

In [47]:
# set do not have duplicates
s={'T','GOOG', 'T', 'APPL'}
s

{'APPL', 'GOOG', 'T'}

**MINI CHALLENGE #8:**
- **Remove the duplicates from the following list:**


```
my_list = ['GOOG', 'APPL', 'T','TSLA','T','AAPL', 5, 6,5]
```

In [48]:
my_list = ['GOOG', 'APPL', 'T','TSLA','T','AAPL', 5, 6,5]
set(my_list)

{5, 6, 'AAPL', 'APPL', 'GOOG', 'T', 'TSLA'}

# MINI CHALLENGE SOLUTIONS

**MINI CHALLENGE #1 SOLUTION:** 
- **What will this code generate?**
```
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)
```

In [49]:
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)

True
False

**MINI CHALLENGE #2 SOLUTION:**
- **Print the first, second and last element in the list**
- **Print all elements in the list, first 3 elements, and last three elements**

```
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]
```

In [50]:
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]
print(stocks[0])
print(stocks[1])
print(stocks[-1])

GOOG
TSLA
EUR/USD

In [51]:
print(stocks[:])
print(stocks[0:3])
print(stocks[4:])

['GOOG', 'TSLA', 'AAPL', 'T', 'SP500', 'BTC', 'EUR/USD']
['GOOG', 'TSLA', 'AAPL']
['SP500', 'BTC', 'EUR/USD']

**MINI CHALLENGE #3 SOLUTION:** 
- **Print GOOG**
- **Print AAPL, GOOG, TSLA** 
- **Print T with two different ways**

```
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]
```

In [52]:
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]

In [53]:
print(my_list[1][1])

GOOG

In [54]:
print(my_list[1])

['AAPL', 'GOOG', 'TSLA']

In [55]:
print(my_list[3])

T

In [56]:
print(my_list[-1])

T

**MINI CHALLENGE #4 SOLUTION:**
- **Create a dictionary with 3 of your favourite stocks and their prices**

In [57]:
stocks = {"SP500": 3000, 
          "AAPL": 400,
          "TSLA": 2200}
print(stocks)

{'SP500': 3000, 'AAPL': 400, 'TSLA': 2200}

**MINI CHALLENGE #5 SOLUTION:**
- **Write a code that takes an input from a bank client asking him/her about their feedback regarding the service. The code should split the client input into words and print them on screen**

**MINI CHALLENGE #6 SOLUTION:**
- **Write a code that prompts a user requesting his/her e-mail and then extracts the user first name (Note that the e-mail is in firstname.lastname@gmail.com**

In [61]:
input_str = input("Welcome to the bank, please enter your e-mail address:")
out_str = input_str.split('@')
out_str = out_str[0].split('.')
print(out_str[0])

Welcome to the bank, please enter your e-mail address:sinjiniroy1999@gmail.com
sinjiniroy1999

**MINI CHALLENGE #7 SOLUTION:**
- **Define a tuple with your first name, last name, age and the number of stocks in your portfolio. Find the length and type as well.**

In [62]:
my_tuple = ("Ryan", "ahmed", 25, 10)
print(my_tuple)

('Ryan', 'ahmed', 25, 10)

In [63]:
len(my_tuple)

4

In [64]:
type(my_tuple)

tuple

**MINI CHALLENGE #8 SOLUTION:**
- **Remove the duplicates from the following list:**


```
my_list = ['GOOG', 'APPL', 'T','TSLA','T','AAPL', 5, 6,5]
```

In [65]:
my_list = ['GOOG', 'APPL', 'T','TSLA','T','AAPL', 5, 6, 5]
out_list = list(set(my_list))
print(out_list)

['T', 5, 6, 'APPL', 'GOOG', 'TSLA', 'AAPL']